@using WebApplicationBlogPost.Models.ViewModels

@model LoginViewModel
@{
    ViewData["Title"] = "Login User";
}

<style>
    .content-wraper {
        padding: 10px;
        max-width: 1000px;
        margin: 0 auto;
        font-family: sans-serif
    }
</style>

<div class="content-wraper">


    <div class="row">
        <div class="col-6">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary mt-1" asp-action="Index" asp-controller="Post">Back to List</a>
        </div>

    </div>
    <hr />

    <form asp-action="Login" asp-controller="Auth" method="post">

        <div class="validation-summary">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
       
        <button type="submit" class="btn btn-primary mt-1">Login</button>
        <a class="btn btn-secondary mt-1" asp-action="Index" asp-controller="Post">Back to List</a>

    </form>
    <hr />

</div>

