@using WebApplicationBlogPost.Models.ViewModels
@model EditPostViewModel
@{
    ViewBag.Title = "Edit Post";
}


<style>
    .content-wraper {
        padding: 20px;
        max-width: 1000px;
        margin: 0 auto;
        font-family: sans-serif
    }
</style>


<div class="content-wraper">


    <div class="row">
        <div class="col-6">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Index" asp-controller="Post" class="btn btn-secondary">Back to List</a>

        </div>

    </div>
    <hr />
    <form asp-action="Create" asp-controller="Post" method="post" enctype="multipart/form-data">

        <div class="validation-summary">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <input asp-for="Post.Id" hidden />
        <div class="form-group">
            <label asp-for="Post.Title"></label>
            <input asp-for="Post.Title" class="form-control" />
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Post.CategoryId"></label>
            <select asp-for="Post.CategoryId" asp-items="Model.Categories" class="form-control">
                <option value=""> Select Category </option>
            </select>
            <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.Author"></label>
            <input asp-for="Post.Author" class="form-control" />
            <span asp-validation-for="Post.Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.Content"></label>
            <textarea asp-for="Post.Content" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Post.Content" class="text-bg-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FeatureImage"></label>
            <input asp-for="FeatureImage" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-1">Updat Post</button>
        <a class="btn btn-secondary mt-1">Back to List</a>

    </form>

</div>


@* thi code for Richt text Editor *@
@* @section Scripts{
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>
    <script>
        // Initialize TinyMCE on the textarea for Post.Content
        document.addEventListener('DOMContentLoaded', function () {
            if (window.tinymce) {
                tinymce.init({
                    selector: 'textarea[name="Post.Content"]'
                });
            }
        });
    </script>
} *@